
.clasePrincipal{display: flex; justify-content: left; margin-left:0px; margin-top:-0px }
.primerIcon{display:flex ; align-items: flex-start; margin-top:4px; margin-left:0px; margin-right: 10px}
.segundoIcon{margin-top:10px; margin-left:5px; margin-right: 10px;}
.divSegundoIcon{display:flex ; align-items: flex-start; margin-top:-6px; margin-right: 0px}
.stilo{font-size:19px; color:#757575}
.subtituloResposive2{
    
    font-size:11px;  margin-top:-6px; margin-left: -10px;  color:rgb(87, 87, 87)}
.fecha{font-size:14px;  margin-top:-5px; margin-left: -0px;  color:rgb(95, 95, 95)}
.vistas{font-size:14px; margin-top:2px; margin-left: 0px;  color:rgb(95, 95, 95)}
.tercerIcon{display:flex ; align-items: flex-start; margin-top:5px; margin-right: 5px}


@media (max-width:600px)
{
.quitar600{display:none}
}