<div class="barra barraTexto margenL margenR ">
  <div class="flex-container">
     <h5 class=" suscribirse suscri ">
       <a routerLink="/"><b style="color:orange; letter-spacing: 2px;z-index: 1000; font-size: 18px;" class="anima2"   >INICIO</b></a> 
       <span style="color: orange">|</span>
      <a href="http://www.culturademontania.org.ar/Suscripcion-form/suscripcion.html" target="_blank"> <b style="color:orange; letter-spacing: 2px;font-size: 18px;" class="anima2" > SUSCRIBIRSE</b></a>
     <div class="poner600">
      <a href="http://www.culturademontania.org.ar/Suscripcion-form/inscripcion-equipo.html" target="_blank"> 
        
        <svg style="margin-left:10px;margin-right:3px" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-person-plus" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        
        <b style="color:white; letter-spacing: 2px;" class="anima2" >UNIRSE</b></a>
      </div> 
    </h5>
      
      <!-- <h5 class=" margenL quitar800 quienesSomos"  routerLink="/" >✉ INICIO </h5> -->
      <a href="http://www.culturademontania.org.ar/quiensomos/2.htm" target="_blank">
      <h5 class=" margenL quitar800 quienesSomos"  >✉ ¿QUIÉNES SOMOS?</h5>
    </a>
      <a href="http://www.culturademontania.org.ar/" target="_blank">
      <h5 class="  margenL quitar800 formarParte" > - CENTRO CULTURAL ARGENTINO DE MONTAÑA - </h5>
    </a>
      
      <div  class="redes">
    <!-- <mat-icon aria-hidden="false" class="margenR"aria-label="Example home icon" style="margin-right: 30px; margin-top:1px" routerLink="buscador">search</mat-icon>  -->
    <!-- <input  routerLink="buscador" class="margenR"  placeholder="Buscar"  type="text">            -->
    <a href="https://www.youtube.com/c/CentroCulturalArgentinodeMonta%C3%B1a" target="_blank"> <img src="../../../assets/fa_youtube.png" alt="" style="margin-right: 5px;margin-top:-18px" width="18px"></a>
      <a href="https://www.instagram.com/ccam_arg/?hl=es-la" target="_blank"> <img src="../../../assets/icoInsta.png" alt="" style="margin-top:-17px; margin-right: 2px;" width="29px"></a> 
      
      <a href="https://web.facebook.com/ccamontania" target="_blank"> <mat-icon style="color:white; font-size: 26px;">facebook</mat-icon></a> 
    
    
    </div>
      </div>

</div>
