<div class="margenL margenR fondo" >
    <div class="row fondo1">
      <!-- background-image: url('../../../assets/Suscripcion.jpg'); -->
        <div class="col-sm-12	col-md-6	col-lg-6	col-xl-6" style="margin-top:20px">
 
        <img class="img" src="../../../assets/logonm.png"  alt="">
        <!-- <h1 class="font">Suscribite a Noticias de Montaá
        </h1> -->
        <!-- <h1 class="font primerTitulo ">Suscribite a la red más grande de publicaciones digitales  Montaña</h1> -->
        <br>

        <h3 class="font2">Suscríbase a nuestro boletin infomativo mensual para estar completamente informado sobre la actualidad del montañismo en nuestro pais.  </h3>
           
     <hr>
    
    <form >
      <div class="form-row formulario"  >
        
            <label for="validationServerUsername" class="item">E-mail</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3">@</span>
              </div>
              <input type="text" class="form-control " id="validationServerUsername" placeholder="E-mail" aria-describedby="inputGroupPrepend3" required>
              <div *ngIf="false" >
                <!-- class="invalid-feedback" "is-invalid" is-valid -->
                Please choose a username.
              </div>
            </div>
          
    
        <div class="col-sm-12" style="margin:0px; padding:0px;">
          <label for="validationServer01" style="margin-top: 20px;"class="item"> Nombre</label>
          <input  type="text" class="form-control " id="validationServer01" placeholder="Nombres"  >
          <div *ngIf="false">
            <!-- valid-feedback -->
            Looks good!
          </div>
        </div>
        <div class="col-sm-12	">
          <label for="validationServer02" style="margin-top: 20px;"class="item">Apellidos</label>
          <input type="text" class="form-control  " id="validationServer02" placeholder="Apellidos"  required>
          <div *ngIf="false"  >
            Looks good!
          </div>
        </div>
     
      
        
          <label class="item mt-3" for="validationServer03">País</label>
          <input type="text" class="form-control" id="validationServer03" placeholder="Pais" required>
          <div *ngIf="false" >
            Please provide a valid city.
          </div>
    
    
          <label class="item" for="validationServer04" style="margin-top:20px">Ocupación</label>
          <input type="text" class="form-control" id="validationServer04" placeholder="Ocupación" required>
          <div *ngIf="false" >
            <!-- class="invalid-feedback" -->
            Please provide a valid state.
          </div>
        
        
          <label class="item" for="validationServer05" style="margin-top:20px">Intereses</label>
          <input type="text" class="form-control" id="validationServer05" placeholder="Intereses" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
        
      </div>
       
        
      <div class="form-group" style="margin-top: 30px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
          <label class="form-check-label" for="invalidCheck3">
            Aceptar <a href="">terminos y condiciones</a>
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
    </div>
    <hr>
      <button  class="btn btn-dark boton" type="submit" >Enviar</button>
      <br>
      <br>
      <br>
    </form>
        </div>
        <div class="col-6" style="background-color: orange;">
            <img src="../../../assets/mochi.jpg" alt=""  style="width: 100%;margin-top:100px; margin-left: -20px;" height="700px"> 
      
        </div>
    
    
    
    </div>
 
    </div>