<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    
    <div class="dsc-carousel__btns">
        <i class="fa fa-chevron-circle-left" (click)="setBack()"></i>
        <i class="fa fa-chevron-circle-right" (click)="setNext()"></i>
    </div>

    <div class="dsc-carousel__content">
        <ng-container *ngFor="let section of data;" style="width:100px">
            <div class="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.imagen1 + ')', 'margin-left': section.marginLeft + '%', 'object-fit':'cover'}">
                <h2 style="font-size:12px!important; padding-top:6px; margin-bottom:27px;">{{section.categoria}}</h2>
                <h1 class="truncar1"><a routerLink="../{{section?._id}}" style="color:rgb(253, 226, 226); margin-top:5px ">{{section.titulo}}</a></h1>   
                <p class="truncar"> {{section.subtitulo}}</p>          
            </div>
        </ng-container>
    </div>

    <!-- <div class="dsc-carousel__steps">
        <div 
            class="dsc-carousel__steps-step 
            dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" 
            *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div> -->
</div>